:target {
  scroll-margin-block: 1em;
}

.skills {
  color: #000;
  background-color: #fff;
  height: 100vh;

  padding-top: 3.4798534799vw;
  padding-bottom: 18.956043956vw;

  h2.headline {
    position: sticky;
    top: 90px;

    font-size: 2.9304029304vw;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 110%;
    text-transform: uppercase;
    margin-top: 5%;
  }
  .content_wrapper {
    width: 40%;
    animation-name: clientsFx;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    margin-top: 5%;
  }

  .skills__list {
    display: flex;
    justify-content: space-between;

    font-size: 6.043956044vw;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 100%;
    text-transform: uppercase;

    &:last-child {
      justify-content: flex-start;

      > :last-child {
        margin-left: 14.9725274725vw;
      }
    }
  }
}

@keyframes clientsFx {
  0% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
