@import url("./reset.css");
@import url("./fonts.css");
@import url("./global.css");

@import url("./header.css");
@import url("./intro.css");
@import url("./about.css");
@import url("./services.css");
@import url("./skills.css");

@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
@import url("./works.css");

@import url("./menu.css");

@import url("./nav.css");
@import url("./fullscreen.css");
@import url("./contacts.css");
@import url("./footer.css");
